.button {
    background-color: green;
    
}

.button:hover {
    background-color: rgb(206, 206, 233);
}

.button:focus {
    background-color: rgb(103, 103, 241);
}

.date-increment-factor{
    display: none;
}